:root{
    --clr-primary: #9356DC;
    --clr-secondary: #FF79DA;
    --clr-tertiary: #99E2D0;
    --ph-grey: #4b4b4b;
    --light-grey: #f6f6f6;
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, p, ul{
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    display: block;
    object-fit: cover;
}

body{
    font-family: 'Roboto', sans-serif;
    min-width: 375px;
    margin: auto;
}

/*Header*/

header{
    position: fixed;
    z-index: 5;
    top: 0px;
    background-color: white;
    height: 65px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px #89898a;
}

#logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
}

#logo img{
    width: 175px;
}

/*Search*/

#search{
    background-color: #eaeaea;
    justify-content: center;
    padding: 78px 0px 13px 0px;
    height: 116px;
    display: flex;
    align-items: center;
}

#search_area{
    background-color: transparent;
    border: none;
    margin-left: 7px;
    height: 25px;
    width: 160px;
    color: var(--ph-grey);
    font-weight: 700;
    font-size: 16px;
}

::placeholder, #location_logo{
    color: var(--ph-grey);
    font-weight: 700;
    font-size: 16px;
}

/*Présentation*/

#presentation{
    background-color: var(--light-grey);
}

#presentation h2, #presentation p{
    display: flex;
    justify-content: center;
    text-align: center;
}

#presentation h2{
    padding: 35px 0px 15px 0px;
    font-size: 24px;
    line-height: 25px;
}

#presentation p{
    padding: 0px 0px 30px 0px;
    color: #7c7c7c;
    font-size: 18px;
    font-weight: 400;
}

#btn_restaurant{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

#presentation a{
    background: linear-gradient( to top left, var(--clr-primary), var(--clr-secondary));
    padding: 15px 20px;
    border-radius: 40px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #bbbbbb;
}

#presentation a:hover{
    background: linear-gradient(to top left, #995ce4, #ff82dc);
    box-shadow: 5px 5px 10px #a3a3a3;
}

/*Fonctionnement*/

#fonctionnement{
    display: flex;
    flex-direction: column;
}

#fonctionnement h2{
    font-size: 23px;
    margin-left: 20px;
    margin-top: 40px;
}

#function_block{
    display: flex;
    margin: 30px 0px 50px 0px;
    gap: 30px;
    flex-direction: column;
}

.step{
    display: flex;
    flex: 1;
    gap: 25px;
    align-items: center;
    min-width: 312px;
    margin: 0px 20px 0px 33px;
    border-radius: 22px;
    box-shadow: 5px 5px 20px #d1d1d1;
    background-color: var(--light-grey);
}

.step:hover i{
    color: var(--clr-primary);
}

.step:hover{
    background-color: #f5edff;
}

.step p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin-left: -13px;
    border-radius: 100%;
    border: none;
    background-color: var(--clr-primary);
    color: white;
}

.step i{
    font-size: 20px;
    width: 15px;
    color: #7e7e7e;
}

.step h3{
    padding: 25px 0px;
    font-size: 18px;
}

/*Restaurants*/

#restaurants{
    background-color: var(--light-grey);
    padding: 50px 20px;
}

#restaurants h2{
    font-size: 23px;
    margin-bottom: 30px;
}

#cases_restaurants{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#cases_restaurants a{
    border-radius: 15px;
    display: flex;
    flex: 1;
}

.div_restaurants{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    box-shadow: 0 0 5px #b3b3b3;
    height: 250px;
    min-width: 335px;
    border-radius: 15px;
    position: relative;
}

.new{
    position: absolute;
    top: 15px;
    right: 12px;
    padding: 8px 13px;
    border-radius: 4px;
    background-color: var(--clr-tertiary);
    color: #1d997b;
}

.div_restaurants img{
    width: 100%;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
}

.bande_restaurants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.text_restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;

}

.text_restaurants h3{
    font-size: 18px;
}

.text_restaurants p{
    font-size: 16px;
    font-weight: 300;
}

.fas.fa-heart{
    position: absolute;
    right: 25px;
    font-size: 25px;
    background: -webkit-linear-gradient( 270deg, var(--clr-primary), var(--clr-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.far.fa-heart{
    position: absolute;
    right: 25px;
    font-size: 25px;
    background: white;
    z-index: 2;
}

.far.fa-heart:hover{
    background-color: transparent;
    color: transparent;
}

/*Footer*/

footer{
    background-color: #353535;
}

footer h2, footer a{
    color: white;
    margin-left: 30px;
    font-size: 12px;
}

footer h2{
    font-family: 'shrikhand';
    font-weight: 200;
    font-size: 16px;
    padding: 15px 0px;
}

footer i{
    margin-right: 15px;
    font-size: 12px;
    width: 15px;
}

footer ul{
    padding-bottom: 30px;
}

footer li{
    margin-bottom: 2px;
}