.heart{
    position: relative;
    background-color: inherit;
}

.fas.fa-heart{
    font-size: 25px;
    background: -webkit-linear-gradient( 270deg, $clr-primary, $clr-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.far.fa-heart{
    position: absolute;
    font-size: 25px;
    background: inherit;
    @include transition;
    
    &:hover{
        background-color: transparent;
        color: transparent;
    }
}