.body{

    &__restaurant{
        background-color: $light-grey;
    }
}

//Présentaion du restaurant

.presRestaurant{

    img{
        height: 350px;
        width: 100%;
    }

    &__bande{
        background-color: $light-grey;
        position: relative;
        height: 100px;
        border-radius: 40px 40px 0 0;
        margin-top: -50px;
        @include flex-center($justify: space-between);
        padding: 0 30px;
        
        h2{
            font-family: 'Shrikhand', sans-serif;
            font-size: 28px;
            font-weight: 400;
        }
    }
}

//Menu

.menu{
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin: 0 15px;

    &__block{
        display: flex;
        gap: 15px;
        flex-direction: column;
        
        h3{
            border-bottom: 3px solid $clr-tertiary;
            text-transform: uppercase;
            font-weight: 300;
            width: 40px;
            padding-bottom: 3px;
        }
    }
}

.plate{
    opacity: 0;
    @include flex-center($justify: space-between);
    background-color: white;
    border-radius: 15px;
    height: 70px;
    box-shadow: 0 0 7px #d6d6d6;
    padding: 0 0 0 10px;
    animation: plate_anim 2s cubic-bezier(.21,.3,.41,1.03) forwards;
    max-width: 100%;
    overflow: hidden;

    @for $i from 0 to 3 {
        &--#{$i}{
            animation-delay: #{$i*0.15}s;
        }
    }

    @keyframes plate_anim {
        from{
            transform: translateY(50px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &__description{
        flex: 1;
        overflow: hidden;

        h4, p{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        h4{
            font-size: 18px;
            margin-bottom: 4px;
        }

        p{
            font-size: 15px;
            font-weight: 300;
        }
    }

    &__price{
        font-weight: 700;
        font-size: 15px;
        margin-top: 25px;
        padding-left: 11px;
        padding-right: 20px;
    }

    .check{
        width: 70px;
        height: 100%;
        background-color: $clr-tertiary;
        @include flex-center;
        color: white;
        font-size: 22px;
        transition: all .6s;
        rotate: 180deg;
        margin-right: -70px;

        i{
            transform: rotate(-360deg);
            transition: all .5s;
        }
    }

    &:hover > .check{

        margin-right: 0;
        rotate: 0;

        & > i{
            transform: rotate(0deg);
        }
    }
}


//Bouton Commander

.button{
    
    &.pageRes{
        margin-top: 50px;
    
        a{
            padding: 15px 50px;
        }
    }
}
