header{
    position: fixed;
    z-index: 5;
    top: 0px;
    background-color: white;
    height: 65px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px #89898a;
    
    .arrow{
        position: absolute;
        font-size: 25px;
        height: 25px;
        top: 20px;
        left: 20px;
    
        i{
            color: $ph-grey;
        }
    }
    
    #logo{
        @include flex-center($align: flex-end);
        height: 100%;
        padding-bottom: 15px;
        
        img{
            width: 175px;
        }
    }
}

